*{
    scroll-behavior: auto;
 }
 html{
    overflow-x: hidden;
    image-rendering: auto;
    image-rendering: -webkit-optimize-contrast;
    font-family: "Montserrat", sans-serif;
    
 }
 head,body{
    margin: 0;
 }
 
 /* Nav Bar */
 .navBar {
    position:-webkit-sticky;
    position: sticky;
    top: 0;
     width: auto;
    height: auto;
    z-index: 10;
 
    background-color: rgb(36, 36, 36);
 }
 .navbarItems{
    margin: 0 auto;
    width: auto;
 }
 #navImg{
    height: 100px;
    width: auto;
    padding: 10px 200px 10px 10px;
    filter: invert(1);
 
 }
 .navBar td{
    width: auto;
    padding: 0 50px 0 50px;
 }
 .navBar td a{
     text-decoration: none;
     color: #FFFFFF;
    font-size: 18px;
 }
 .navBar a:hover{
	background-color: lightgray;
	color: #FFFFFF;
}
 .active {
    padding: 0 5px 5px 0;
 
     font-weight: 800;
     font-size: 25pt;
     color: #E6AAB7;
     box-shadow: 2px 2px ;
 }
 
 
 /* Login PopUp Page */
 .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
 }
  /* The popup form - hidden by default */
 .form-popup {
    display: none;
    position: fixed;
    top: 100px;
    right: 20px;
    border: 3px solid #f1f1f1;
    z-index: 9;
 }
  /* Add styles to the form container */
 .form-container {
    width: 400px;
    padding: 10px;
    background-color: white;
 }
  /* Full-width input fields */
 .form-container input[type=text], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
 }
 /* When the inputs get focus, do something */
 .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
 }
 /* Set a style for the submit/login button */
 .form-container .btn {
    background-color: lightslategray;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
 }
 /* Add a red background color to the cancel button */
 .form-container .cancel {
    background-color: rgb(36, 36, 36);
  }
 /* Add some hover effects to buttons */
 .form-container .btn:hover, .open-button:hover {
    opacity: 1;
 }
 

 /* Title */
h1{
   text-align: center;
   font-size: 36px;
}


 /* Body Section */
.grid {
   display: grid;
   grid-template-columns: min-content 1fr;
}
.grid img, p{
   font-size: 16px;
   margin: 25px 30px 25px 30px;
   vertical-align: middle;
}
span{
   font-size: 22px;
   font-weight: 300;
}
#title{
   font-size: 36px;
   font-style: bold;
}
  /* Footer Seciton */

.footer {
    width: auto;
    margin: -10px;
 
    font-size: 18px;
 
    background-color:rgb(36, 36, 36);
    color: white;
    font-family: 'BIZ UDGothic', sans-serif;
    text-align: center;
 }
 .footer table {
    padding: 30px 10px 0 30px;
    margin: 0 auto;
 }
 .container{
    height: 40px; 
    width: auto;
 }
 .footer #missionPara{
    margin-bottom: -10px;
 
 }
 .footer img {
    width: 15px;
    height: 15px;
    filter: invert(1);
 }
 .footer #socialImg{
    width: 40px;
    height: 40px;
 
    padding: 0 15px 0 15px;
 }
 #footerPara{
    margin-top: 0;
    padding-top: 0;
 }
 